.home{
    background-color: aqua;
}

.body{
    background-color: black;
}

.photo{
    height: '50px';
    width: auto;
}

.profileDesc{
    font-size: large;
}

.container {
    max-width: '100%'  
}

.profileDesc{
    border-style: inset;
    border-color: black;
}

.intrests{
    border-style: inset;
    border-color: black;
}
