.col1{
    border-style: inset;
    border-color: black;
    border-width: 5px;
}

.col2{
    border-color: black;
    border-style: groove;
    border-width: 3px;
}

.col3{
    border-color: black;
    border-style: groove;
    border-width: 3px;
}

.project{
    height: 100dvh;
    width: 100%;
    margin: 0;
    background-color: lightslategray;
}

.prj{
    height: 100%;
    margin: 0;
    background-color: lightslategray;
}

#root{
    background-color: black;
}
